tensorboard
pyproj
configargparse
matplotlib
distro
progress
tqdm
scipy
gym==0.10.9
git+https://github.com/facebookresearch/habitat-lab.git@v0.1.6
git+https://github.com/facebookresearch/pytorch3d.git@v0.2.5